* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    position: relative;
    max-width: 1248px;
    height: 100%;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 104px;
}

.header .logo {
    width: 260px;
    height: 100%;
    display: inline-block;
}

.header .logo > svg {
    width: calc(520px * 0.5);
    height: 100%;
    vertical-align: middle;
    line-height: 100%;
}