p {
    color: red;
}

.class {
    color: blue;
}

#id {
    color: green;
}

.class1 {
    color: brown;
}

#id1 {
    color: black;
}

#id2 {
    color:yellow;
}

.class2 {
    color: skyblue;
}

#id3 {
    color: aliceblue;
}

#id4 {
    color: purple;
}